<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="container">

  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Add a user</h1>
    </div>
    <form action="/users" method="POST">
      <input type="email" name="user[email]" placeholder="juanita.dole@mail.com"/>
      <input type="submit" value="Add this user" />
    </form>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>

</html>
