<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="container">

  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Add a Post</h1>
    </div>
    <form action="/users/<%= userOnViewId %>/posts/" method="POST">
      <div class="form-group">
        <input type="text" name="post[title]" placeholder="Your Post Title" />
      </div>
      <div class="form-group">
        <input type="textarea" style="width: 200px; height: 100px;" name="post[content]" placeholder="Your Post Content" />
      </div>
      <input type="submit" value="Add this post" />
    </form>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>

</html>
